.select-friends-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.select-friends-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-friends-item {
    width: 45%;
}